<div class="container">

  <mat-form-field appearance="outline">
    <mat-select placeholder="Reason for revoking" tabindex="-1" [(ngModel)]="reason">
      <mat-option [value]="RevocationReason.AffiliationChanged">Affiliation Changed</mat-option>
      <mat-option [value]="RevocationReason.CessationOfOperation">Cessation of operation</mat-option>
      <mat-option [value]="RevocationReason.KeyCompromise">Key compromise</mat-option>
      <mat-option [value]="RevocationReason.PrivilegeWithdrawn">Privilege withdrawn</mat-option>
      <mat-option [value]="RevocationReason.Superseded">Superseded</mat-option>
      <mat-option [value]="RevocationReason.Unspecified">Unspecified</mat-option>
    </mat-select>
  </mat-form-field>

  <button (click)="closeDialog()" [disabled]="!reason" class="blue-button finish">
    Revoke
  </button>

    <button class="btn-accent blue-button" (click)="onNoClick()">Close</button>

</div>
